.input-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	row-gap: 1rem;
	column-gap: 0.5rem;
	/* border-radius: '0.5rem';
	border: '1px solid black'; */
  /* width: '45vw';
	min-height: '35vh';
  min-width: '10rem'; */
	
	/* padding: '1.5rem'; */
}
