.app-bar-container {
  display: flex;
  align-items: center;
  width: 100vw;
  column-gap: 2rem;
  height: 8vh;
  border-bottom: 1px solid #656363;
}

.dashboard-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.user-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-weight: bold;
  font-size: 1.2rem;
}

.vertical-line {
  width: 2px;
  height: 100%;
  background-color: #000;
  margin: 0 15px;
}
