.sidebar-container {
  display: flex;
  flex-direction: column;
  width: 12vw;
  height: calc(100vh - 8vh);
  border-right: 1px solid #656363;
  align-items: center;
  row-gap: 1rem;
  padding: 2rem 1rem;
}

.menu-item {
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.menu-item:hover {
  background-color: rgba(0, 123, 255, 0.1);
  transition:
    background-color 0.3s,
    color 0.3s;
}
